{extend name="common/layout"/}
{block name="title"}网站首页{/block}
{block name="content"}   
      
  <div class="container">
    <div class="row">
      <div id="content" class="col-sm-12">
        <div class="content_top">
          <div id="slideshow0" class="owl-carousel slideshow owl-loaded owl-drag">
            
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3420px, 0px, 0px); transition: 0.3s; width: 6840px;"><div class="owl-item cloned" style="width: 1140px;"><div class="item">
              <a href="http://www.52minq.com/">
                <img src="__STATIC__/index/image/glasses-banner2-1140x500.jpg" alt="glasses-banner2" class="img-responsive">
              </a>
            </div></div><div class="owl-item cloned" style="width: 1140px;"><div class="item">
              <a href="http://www.52minq.com/">
                <img src="__STATIC__/index/image/glasses-banner1-1140x500.jpg" alt="glasses-banner1" class="img-responsive">
              </a>
            </div></div><div class="owl-item" style="width: 1140px;"><div class="item">
              <a href="http://www.52minq.com/">
                <img src="__STATIC__/index/image/glasses-banner2-1140x500.jpg" alt="glasses-banner2" class="img-responsive">
              </a>
            </div></div><div class="owl-item active" style="width: 1140px;"><div class="item">
              <a href="http://www.52minq.com/">
                <img src="__STATIC__/index/image/glasses-banner1-1140x500.jpg" alt="glasses-banner1" class="img-responsive">
              </a>
            </div></div><div class="owl-item cloned" style="width: 1140px;"><div class="item">
              <a href="http://www.52minq.com/">
                <img src="__STATIC__/index/image/glasses-banner2-1140x500.jpg" alt="glasses-banner2" class="img-responsive">
              </a>
            </div></div><div class="owl-item cloned" style="width: 1140px;"><div class="item">
              <a href="http://www.52minq.com/">
                <img src="__STATIC__/index/image/glasses-banner1-1140x500.jpg" alt="glasses-banner1" class="img-responsive">
              </a>
            </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
          <script type="text/javascript"><!--
                $(document).ready(function() {
                  $('#slideshow0').owlCarousel({
                    items: 1, //显示数量
                    loop: true, //循环滚动
                    autoplay: true, //自动播放
                    autoplayTimeout: 3000, //自动切换时间（毫秒）
                    autoplayHoverPause: true, //鼠标移动到图片上面时，是否暂停自动播放
                    autoplaySpeed: 300, //自动播放图片切换动画时长
                    navSpeed: 400, //左右切换按钮图片切换动画时长
                    dotsSpeed: 300, //点击图片下方黑点图片切换动画时长
                    nav: true, //是否显示左右切换按钮
                    navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'], //左右切换按钮图标
                    dots: true, //是否显示图片下方黑点
                  });
                });
                -->
              </script>
          <h2 class="widget-title">
            <span>推荐商品</span>
          </h2>
          <div class="row">
 {foreach $list as $k=>$v}
              <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
            
      
      <div class="product-wrapper">
                <div class="product-image">
                  <a href="{:url('index/details/details',['id'=>$v['id']])}">
                                 <img src="__STATIC__/upload/{$v.image_thumb}" alt="图片" title="这是图片" class="img-responsive">                  </a>
                </div>
                <div class="product-info">
                  <div class="product-name">
                    <a href="http://www.52minq.com/goods/39.html">{$v.title}</a>
                  </div>
                  <div class="product-description">
                    <p>..</p>
                  </div>
                  <div class="product-rating">
                    <span class="fa fa-stack">
                      <i class="fa fa-star fa-stack-2x"></i>
                    </span>
                    <span class="fa fa-stack">
                      <i class="fa fa-star fa-stack-2x"></i>
                    </span>
                    <span class="fa fa-stack">
                      <i class="fa fa-star fa-stack-2x"></i>
                    </span>
                    <span class="fa fa-stack">
                      <i class="fa fa-star fa-stack-2x"></i>
                    </span>
                    <span class="fa fa-stack">
                      <i class="fa fa-star fa-stack-2x"></i>
                    </span>
                  </div>
                  <div class="product-price">
                    <span class="price-best">￥{$v.minimum}</span>
                    <span class="price-old">￥{$v.price}</span>
                  </div>
                  <div class="product-action">
                    <button type="button" class="add-to-cart" onclick="addCart(39,&#39;/goods/39.html&#39;)">
                      <i class="fa fa-shopping-cart"></i>
                      <span>加入购物车</span>
                    </button>
                    <div class="ps-add-buyincang" id="btn-visible">
                      <button type="button" class="wishlist collection" goods_id="39">
                        <i class="fa fa-heart-o"></i>
                        <span class="collection_add">收藏</span>
                      </button>
                      <button type="button" class="compare">
                        <i class="fa fa-bars"></i>
                        <span>对比</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {/foreach}
 
          <ul id="banner0" class="banners">
            <li class="item">
              <a href="">
                <img src="__STATIC__/index/image/hengfu1-1140x382.jpg" alt="hengfu-xia" class="img-responsive">
              </a>
            </li>
          </ul>
          </div>
          <ul id="banner1" class="banners">
            <li class="item">
              <a href="">
                <img src="__STATIC__/index/image/hengfu2-1140x587.jpg" alt="233" class="img-responsive">
              </a>
            </li>
          </ul>
          <h2 class="widget-title">
            <span>特价商品</span>
          </h2>
          <div class="row">
   
          </div></div>
          <div class="clear"></div>
        </div>
      </div>
    
  </div>
        <script>
         function addCart(goods_id,url){
              //判断该商品是否有选项
              var flag=true;

              $.ajax({
                  url: "/Checkout/hasOption.html",
                  type: 'get',
                  async: false,//同步
                  data:{
                    'goods_id':goods_id
                  },
                  dataType:'json',
                  success:function (response){
                     if(response.result=='yes'){
                        window.location.href=url;
                        falg=false;
                        return;
                     }else{
                          $.ajax({
                            url:"/Checkout/addCart.html",
                            data:{
                               'is_ajax':1,
                                'goods_id':goods_id
                            },
                            type:'post',
                            dataType:'json',
                            success:function (response){
                              if(response.error=='0'){
                                  
                                  new $.Zebra_Dialog('<strong>加入购物车成功!</strong> 请去购物车查看或结账您的商品', {
                                      'buttons':  false,
                                      'modal': false,
                                      'position': ['right - 50%', 'top + 50%'],
                                      'auto_close': 2000
                                  });
                                  $('#cart_reflush').load("/Shop/cartChange/is_ajax/yes.html");
                                  console.info('加入购物车成功');

                              }
                            }

                        });
                     }
                  }
              });
              
             
         }
         $('.collection').click(function(){
             var url="/collection/add.html";
             // console.log($(this).attr('goods_id'));
             $.post(url,'goods_id='+$(this).attr('goods_id'),function (response){
                  console.log(response);
                  if(response.error=='1'){
                      $.Zebra_Dialog('<strong>您未登陆!<br /></strong> 只有在登录状态下才可以收藏哦!', {
                          'type':     'warning',
                          'title':    '警告'
                      });
                  }else if(response.error=='2'){
                      $.Zebra_Dialog('<strong>已经收藏!<br /></strong> 该物品您已经收藏过哦!', {
                          'type':     'warning',
                          'title':    '警告'
                      });
                  }else{
                      new $.Zebra_Dialog('<strong>加入收藏栏成功!</strong> 请去收藏栏查看您的物品或尽快添加到购物车哦', {
                            'buttons':  false,
                            'modal': false,
                            'position': ['right - 50%', 'top + 50%'],
                            'auto_close': 2000
                      });
                      $('#my_collection').html(parseInt($('#my_collection').html())+1);


                  }

             },'json');
         });    
    </script>
      





{/block}