<div class="page-content">

    <!-- BEGIN PAGE CONTAINER-->        

    <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                <h3 class="page-title">

                    权限管理

                </h3>

                <ul class="breadcrumb">

                    <li>

                        <i class="icon-home"></i>

                        <a href="index.html">首页</a> 

                        <i class="icon-angle-right"></i>

                    </li>

                    <li>

                        <a href="#">权限管理</a>


                    </li>


                </ul>

                <!-- END PAGE TITLE & BREADCRUMB-->

            </div>

        </div>

        <!-- END PAGE HEADER-->

        <!-- BEGIN PAGE CONTENT-->

        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN EXAMPLE TABLE PORTLET-->

                <div class="portlet box blue">


                    <div class="portlet-body">

                        <div class="clearfix">

                            <div class="btn-group">

                                <a href="{:url('admin/power/add')}" id="sample_editable_1_new" class="btn green">

                                    添加

                                </a>

                            </div>

                        </div>
                        

                        <table class="table table-striped table-hover table-bordered" id="sample_editable_1">

                            <thead>

                                <tr>

                                    <th>ID</th>
                                    <th>权限名称</th>
                                    <th>控制器</th>
                                    <th>方法</th>
                                    <th>是否显示</th>
                                    <th>添加时间</th>
                                    <th>修改时间</th>
                                    <th>操作</th>

                                </tr>

                            </thead>

                            <tbody>
                               {foreach $list as $v}
                               <tr>
                                    <td>{$v.id}</td>
                                    <td>1-{$v.name}</td>
                                    <td>{$v.controller}</td>
                                    <td>{$v.action}</td>
                                    <td>{$v.is_show}</td>
                                    <td>{$v.create_time}</td>
                                    <td>{$v.update_time}</td>
                                    <td><a href="{:url('admin/power/addChild',['parent_id'=>$v.id])}">添加下一级</a>|修改|<a class="delete" href="{:url('admin/power/delete',['id'=>$v['id']])}">删除</a></td>
                                </tr>
                                {if condition="isset($v.child)"}
                                    {foreach $v.child as $v1}
                                        <tr>
                                            <td>{$v1.id}</td>
                                            <td>2----{$v1.name}</td>
                                            <td>{$v1.controller}</td>
                                            <td>{$v1.action}</td>
                                            <td>{$v1.is_show}</td>
                                            <td>{$v1.create_time}</td>
                                            <td>{$v1.update_time}</td>
                                            <td><a href="{:url('admin/power/addChild',['parent_id'=>$v1.id])}">添加下一级</a>|修改|<a class="delete" href="{:url('admin/power/delete',['id'=>$v['id']])}">删除</a></td>
                                        </tr>
                                        {if condition="isset($v1.child)"}
                                            {foreach $v1.child as $v2}
                                                <tr>
                                                    <td>{$v2.id}</td>
                                                    <td>3--------{$v2.name}</td>
                                                    <td>{$v2.controller}</td>
                                                    <td>{$v2.action}</td>
                                                    <td>{$v2.is_show}</td>
                                                    <td>{$v2.create_time}</td>
                                                    <td>{$v2.update_time}</td>
                                                    <td>修改|<a class="delete" href="{:url('admin/power/delete',['id'=>$v['id']])}">删除</a></td>
                                                </tr>
                                            {/foreach}
                                        {/if}
                                    {/foreach}
                                    
                                {/if}
                               {/foreach}
                            </tbody>

                        </table>

                    </div>

                </div>

                <!-- END EXAMPLE TABLE PORTLET-->

            </div>

        </div>
        <!-- END PAGE CONTENT -->

    </div>

    <!-- END PAGE CONTAINER-->

</div>
