<div class="page-content">

    <!-- BEGIN PAGE CONTAINER-->        

    <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                <h3 class="page-title">

                    角色权限选择

                </h3>

                <ul class="breadcrumb">

                    <li>

                        <i class="icon-home"></i>

                        <a href="index.html">首页</a> 

                        <i class="icon-angle-right"></i>

                    </li>

                    <li>

                        <a href="#">角色权限选择</a>


                    </li>


                </ul>

                <!-- END PAGE TITLE & BREADCRUMB-->

            </div>

        </div>

        <!-- END PAGE HEADER-->

        <!-- BEGIN PAGE CONTENT-->
        <form  action="{:url('admin/role/poweradd')}" method='post'>
            <input type="hidden" name="role_id" value="{$id}"/>
        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN EXAMPLE TABLE PORTLET-->

                <ul id="myTab" class="nav nav-tabs">
                    {foreach $one as $k=>$v}
                    <li {if condition="$k eq 0"}class="active"{/if}>
                        <a href="#tab_{$v.id}" data-toggle="tab">
                            {$v.name}
                        </a>
                    </li>
                    {/foreach}
                </ul>
                <div id="myTabContent" class="tab-content">
                    <!--循环一级菜单-->
                    {foreach $list as $k1=>$v1}
                    <div class="tab-pane fade in {if condition="$k1 eq 0"}active{/if}" id="tab_{$v1.id}">
                        <label>
                        <input type="checkbox" {if condition="isset($checkList[$v1.id])"}checked="true"{/if} name="power[]" data-id="{$v1.id}" data-level="1" value="{$v1.id}"/>{$v1.name}
                        </label>

                        {if condition="isset($v1.child)"}
                        {foreach $v1.child as $k2=>$v2}
                            <label>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" {if condition="isset($checkList[$v2.id])"}checked="true"{/if} data-id="{$v1.id}" name="power[]" value="{$v2.id}"  data-level="2" data-twoid="{$v2.id}"/>{$v2.name}：
                            {if condition="isset($v2.child)"}
                                {foreach $v2.child as $k3=>$v3}
                                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="power[]" {if condition="isset($checkList[$v3.id])"}checked="true"{/if}  value="{$v3.id}" data-id="{$v1.id}"  data-level="3"  data-twoid="{$v2.id}"/>{$v3.name}
                               
                                {/foreach}
                            {/if}
                             </label>
                        {/foreach}
                        {/if}
                    </div>
                    {/foreach}
                </div>
                <div class="form-actions">

                    <button type="submit" class="btn green">提交</button>

                    <button type="button" class="btn">关闭</button>

                </div>
                <!-- END EXAMPLE TABLE PORTLET-->

            </div>

        </div>
        </form>
        <!-- END PAGE CONTENT -->

    </div>

    <!-- END PAGE CONTAINER-->

</div>
<script type="text/javascript">
    $(function(){
        var allCheckBox = $("input[type='checkbox']");
        
        allCheckBox.click(function(){
            var id = $(this).data("id");
            var level = $(this).data("level");
            var status = $(this).prop("checked");
            if(level == 1){
                //所有的需要选中的元素
                $(":checkbox[data-id='"+id+"']").each(function(){
                    if(status) {
                        $(this).parent().addClass("checked");
                        $(this).prop("checked",true);
                    }else{
                        $(this).parent().removeClass("checked");
                        $(this).prop("checked",false);
                    }
                })
            }else if(level == 2){
                var twoid = $(this).data("twoid");
                //它的上一级为选中状态
                if(status){
                    $(":checkbox[data-id='"+id+"'][data-level='1']").parent().addClass("checked");
                    $(":checkbox[data-id='"+id+"'][data-level='1']").prop("checked", true);
                    $(":checkbox[data-twoid='"+twoid+"'][data-level='3']").parent().addClass("checked");
                    $(":checkbox[data-twoid='"+twoid+"'][data-level='3']").prop("checked", true);
                }else{
                    $(":checkbox[data-twoid='"+twoid+"'][data-level='3']").parent().removeClass("checked");
                    $(":checkbox[data-twoid='"+twoid+"'][data-level='3']").prop("checked", false);
                }  
            }else if(level == 3){
                var twoid = $(this).data("twoid");
                //它的上一级为选中状态
                if(status){
                    $(":checkbox[data-id='"+id+"'][data-level='1']").parent().addClass("checked");
                    $(":checkbox[data-id='"+id+"'][data-level='1']").prop("checked", true);
                    $(":checkbox[data-twoid='"+twoid+"'][data-level='2']").parent().addClass("checked");
                    $(":checkbox[data-twoid='"+twoid+"'][data-level='2']").prop("checked", true);
                }
            }
        });
    });
</script>
